<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="{{url_for('static',filename='dashboard.css')}}" rel="stylesheet" media="all">
</head>
<body>

<div class="jumbotron text-center">
  <h1>This is your dashboard</h1> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Name: {{form.name}}</h3>
      <h3>Surname: {{form.surname}}</h3>
      <h3>Email: {{form.email}}</h3>
    </div>
    <button class="button"><a href="{{url_for('logout')}}">Logout</a></button>
    <button class="button"><a href="{{url_for('edit_profile')}}">Edit your info</a></button>
</div>

</body>
</html>
