
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="{{url_for('static',filename='main.css')}}" rel="stylesheet" media="all">
    <title>Register</title>
</head>
<body>
    <div id="login-box">
        <form method="POST" >
        <div class="left">
          <h1>Todo</h1>
          <input type="text" name="date" placeholder="date" />
          {% for error in form.date.errors %}
          <small class="text-danger">{{ error }}</small>  
         {% endfor %}
          
          <input type="text" name="whattodo" placeholder="whattodo" />
          {% for error in form.whattodo.errors %}
            <small class="text-danger">{{ error }}</small>  
            {% endfor %}

         
          <input type="submit" name="submit" value="Sign me up" />
        </div>
     
        {{ form.csrf_token }}
    </form>
      </div>
</body>
</html>