<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="{{url_for('static',filename='main.css')}}" rel="stylesheet" media="all">

    <title>Update your information</title>
</head>
<body>
    <div id="login-box">
        <form method="POST" >
        <div class="left">
          <h1>Edit your information</h1>
          <input value={{user.name}} type="text" name="name" placeholder="Username" />
          {% for error in form.name.errors %}
          <small class="text-danger">{{ error }}</small>  
         {% endfor %}
          
          <input value={{user.surname}} type="text" name="surname" placeholder="Surname" />
          {% for error in form.surname.errors %}
            <small class="text-danger">{{ error }}</small>  
            {% endfor %}

          <input value={{user.email}} type="text" name="email" placeholder="E-mail" />
          {% for error in form.email.errors %}
            <small class="text-danger">{{ error }}</small>  
            {% endfor %}

          <input type="password" name="password" placeholder="Password" />
          {% for error in form.password.errors %}
          <small class="text-danger">{{ error }}</small>  
         {% endfor %}

          <input type="password" name="password2" placeholder="Retype password" />
          <input type="submit" name="submit" value="Save" />
        </div>          
        {{ form.csrf_token }}
    </form>
      </div>
</body>
</html>